.App {
  text-align: center;
  background-color: #F0F4C3;
  padding: 20px;
  min-height: 100vh;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  background-color: #FFC107;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #888;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FF7043;
}

/* style to spin the logo */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 10s linear infinite; /* Spins for 10 seconds */
  animation-iteration-count: infinite; /* Repeats infinitely */
}

@keyframes loop {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.loop-container {
  animation: loop 40s linear infinite; /* Loop duration of 40 seconds */
}

@keyframes start-spin {
  0% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.start-spin {
  animation: start-spin 40s linear infinite; /* Waits 30 seconds, spins for 10 seconds */
  opacity: 0;
}